@using SquishIt.Framework
@using SquishIt.Mvc

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SQL Is Hard - @ViewBag.Title</title>
    @Html.Raw(Bundle.Css()
        .Add("~/styles/display.css")
        .Render("~/styles/combined_#.css"))
    @Html.Raw(Bundle.JavaScript()
        .Add("~/scripts/jquery-1.7.2.js")
        .Add("~/scripts/knockout-2.1.0.js")
        .Render("~/scripts/combined_#.js")
    )
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <span class="version">Version: @RenderPage("_Version.cshtml")</span>
        <div class="text">A random sideproject by <a href="http://tiernok.com" title="Eli's website">Eli Weinstock-Herman</a> (<a href="http://twitter.com/tarwn" title="Tarwn on twitter">@@tarwn</a>)</div>
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36014093-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
