@using SquishIt.Framework
@using SquishIt.Mvc

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />
    <title>SQL Is Hard - @ViewBag.Title</title>
    @Html.Raw(Bundle.Css()
        .Add("~/styles/display.css")
        .Add("~/styles/normalize.css")
        .Add("~/styles/main.css")
        .Add("~/styles/responsive.css")
        .Render("~/styles/combined_#.css"))
    @Html.Raw(Bundle.JavaScript()
        .Add("~/scripts/jquery-1.9.1.js")
        .Add("~/scripts/knockout-2.2.1.js")
        .Add("~/scripts/koExternalTemplateEngine_all.js")
        .Add("~/scripts/modernizr-2.6.2.min.js")
        .Add("~/scripts/plugins.js")
        .Add("~/scripts/lib/main.js")
        .Add("~/scripts/lib/exercises.js")
        .Add("~/scripts/lib/viewmodel.js")
        .Render("~/scripts/combined_#.js")
    )
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        <span class="version">Version: @RenderPage("_Version.cshtml")</span>
        <div class="text">A random sideproject by <a href="http://tiernok.com" title="Eli's website">Eli Weinstock-Herman</a> (<a href="http://twitter.com/tarwn" title="Tarwn on twitter">@@tarwn</a>)</div>
    </footer>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36014093-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
