@{
    ViewBag.Title = "Learning SQL";

}
<div class="about">
    <div class="banner">
        <h1>SQL is Hard</h1>
        <ul>
            <li class="selected">@Html.ActionLink("The Goal","","About")</li>
            <li>@Html.ActionLink("The Exercises","Exercises","About")</li>
            <li>@Html.ActionLink("The Tech","Tech","About")</li>
@*            <li>@Html.ActionLink("Updates","Updates","About")</li>*@
        </ul>
    </div>
    <p>
    I learned SQL the hard way. Some basic MySQL and design in college, a little MS Access on the side, and TSQL to help pay 
    the bills. Between then and now, I can't decide whether I've learned a great deal more or only improved incrementally.
    </p>
    <h2>Learning SQL can be hard.</h2>
    <p>
    I attended a college class, read books, watched live webcasts like <a href="http://www.sqllunch.com/AboutUs.aspx">SQLLunch</a> and 
    <a href="http://www.sqlpass.org/Events/24HoursofPASS.aspx">24 Hours of PASS</a>, attended <a href="http://www.sqlsaturday.com/">SQLSaturday</a> 
    events, and learned from far more knowledgeable <a href="http://lessthandot.com">friends</a>.
    </p>
    <p>
    All of this helped, but when someone asks me how to learn SQL, I still don't have a good answer.
    </p>
    <h2>Hands On Learning</h2>
    <p>
    Of all of the many places I learned from, what made it all stick and make sense was putting hands-on-keyboard and using all
    the new things I was learning. Practice problems, programming challenges, and real production problems made all of those 
    lessons real.
    </p>
    <h2>The Goal...</h2>
    <p>
    The goal of this site is to provide a guided, hands-on experience. A way to learn the basics or advance our skills through
    actual hands-on-keyboard experience. A mix of guidance and experimentation with a real SQL database evaluating our progression.
    </p>
    <h2>Why?</h2>
    <p>
    I believe strongly in personal skill development and have always wished there was something like this being actively developed.
    A site I could point developers to when they're trying to advance their SQL skills, somewhere more advanced users can try things
    like windowing functions with some guidance and clear explanations. A hands=-on resource to complement the videos, books, blogs and 
    such.
    </p>
    <p>
    For now I'm paying for this site out of pocket and working on it in my spare time. I provide
    a lot of information on the @Html.ActionLink("technology", "Tech", "About") and will probably open up the source later on as well.
    </p>
</div>